<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>User Application</title>
</head>

<body>
    <div class="main-container">
        <div class="status">Status:</div>
        <div class="form-container">
            <form method="get" autocomplete="off">
                <div class="input-container">
                    <label for="username">Username</label>
                    <input type="text" class="username">
                    <label for="password">Password</label>
                    <input type="password" class="password">
                    <button class="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Saved Date and Time</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>
        
    </div>
    <footer>
        Made with ❤️ by <a href="https://www.linkedin.com/in/thecuriousjuel/" class="linkedin-link">@thecuriousjuel</a>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>

</html>